body
{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#container{
    display: grid;
}
#slotContainer{
    background-color: aliceblue;
    display: flex;
    margin: auto;
    border-radius: 15px;
    
}
#tabella{
    margin: 0 auto;
    text-align: center;
    font-size: 500%;
}
#rigaSlot{
    background-color: cyan;
}
a.btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:2px solid #FFFFFF;
    border-radius:10px;
    color:#FFFFFF;
    text-align:center;

    margin-top: 4%;
    margin-left:35%;
    margin-right:35%;
}
a.btn:hover{
    color:#000000;
    background-color:#FFFFFF;
}
#pop-up{
    font-size: 500%;
    background-color: whitesmoke;
    margin-top: 3%;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 15px;
    display: none;
}